

@tailwind base;
@tailwind components;
@tailwind utilities;


*,*:focus,*:hover{
    outline:none;
}

.form-textarea {
    height: 650px;
}

/* fade in lazy loaded image */
.carousel-cell-image.flickity-lazyloaded,
.carousel-cell-image.flickity-lazyerror {
  opacity: 1;
}

@media (min-width: 640px) {
    .sm\:-bottom-100 {
        bottom: -28rem;
    }
}

